body {
    background-color: var(--background-color);
    background-position: center;
    background-repeat: repeat-y;
    color: var(--text-color);
    font-family: Satoshi-Light, sans-serif;
    margin: 0;
}

:root {
    --background-color: #000;
    --navbar-background-dark-r: 0;
    --navbar-background-dark-g: 0;
    --navbar-background-dark-b: 0;
    --section1-background-dark-r: 29;
    --section1-background-dark-g: 26;
    --section1-background-dark-b: 22;
    --section2-background-dark-r: 0;
    --section2-background-dark-g: 0;
    --section2-background-dark-b: 0;
    --section-background-dark-alpha: 0.6;
    --text-color: #fff;
    --link-color: #48d9f7;
    --navbar-color: black;
    --footer-color: rgb(7 22 25);
    --text-color-1: rgb(72 247 219);
    --text-color-2: rgb(72 163 247);
    --text-color-3: rgb(72 217 247);
    --text-color-4: rgb(74 247 161);
    --text-color-5: rgb(72 107 247);
    --text-color-6: #60B4C4;
    --text-color-7: #648A91;
}

/* Heading styles */
h1, h2 {
    font-size: xx-large;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
  }
  
  h3 {
    font-size: large;
    font-family: Satoshi-Light, sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
    color: var(--text-color-3);
  }
  
  h4 {
    font-size: medium;
    margin-top: 0;
    font-family: Satoshi-Light, sans-serif;
    margin-bottom: 30px;
  }