body {
    background-color: var(--background-color);
    background-image: url('../../assets/images/background-dark-theme.png');
    background-position: center;
    background-repeat: repeat-y;
    color: var(--text-color);
    font-family: Satoshi-Light;
    margin: 0;
}

:root {
    --background-color: #000000;
    --navbar-background-dark-r: 0;
    --navbar-background-dark-g: 0;
    --navbar-background-dark-b: 0;
    --section1-background-dark-r: 29;
    --section1-background-dark-g: 26;
    --section1-background-dark-b: 22;
    --section2-background-dark-r: 0;
    --section2-background-dark-g: 0;
    --section2-background-dark-b: 0;
    --section-background-dark-alpha: 0.6;
    --text-color: #fff;
    --link-color: #48d9f7;
    --navbar-color: black;
    --footer-color: rgb(7, 22, 25);

    --text-color-1: #48F7DB;
    --text-color-2: #48A3F7;
    --text-color-3: #48D9F7;
    --text-color-4: #48F7A0;
    --text-color-5: #486BF7;
    --text-color-6: #60B4C4;
    --text-color-7: #648A91;
    
}