:root {
    --background-color-light: white;
    --text-color-light: #000000;
    --navbar-background-light: rgb(255, 255, 255);
    --navbar-background-light-r: 255;
    --navbar-background-light-g: 255;
    --navbar-background-light-b: 255;
    --section1-background-light: rgb(255, 255, 255);
    --section1-background-light-r: 255;
    --section1-background-light-g: 255;
    --section1-background-light-b: 255;
    --section1-background-light: rgb(199, 199, 199);
    --section2-background-light-r: 229;
    --section2-background-light-g: 229;
    --section2-background-light-b: 229;
    --section-background-light-alpha: 0.2;
}

body.light-mode {
    background-color: var(--background-color-light);
    background-image: none;
    color: var(--text-color-light);
}

.light-mode p {
    background-color: rgba(255, 255, 255, 0.5);
    /* background-color: rgba(229, 229, 229, 0.5); */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid white;
    backdrop-filter: blur(5px);
}