/* Navbar Styles */
:root {
    --navbar-height: 80px;
}

html {
    scroll-behavior: smooth;
}

#navbar {
    z-index: 4;
    width: 100%;
    background-color: rgba(var(--navbar-background-dark-r) var(--navbar-background-dark-g) var(--navbar-background-dark-b) / 10%);
    position: fixed;
    backdrop-filter: blur(5px);
    height: var(--navbar-height);
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

.navbar-item {
    opacity: 0; /* Initialement invisible */
    transform: translateY(-20px); /* Commence au-dessus de sa position finale */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transition sur l'opacité et le déplacement */
}

/* Ajoutez une classe pour animer l'élément */
.navbar-item-visible {
    opacity: 1;
    transform: translateY(0); /* Retour à sa position initiale */
}

#navbar-box {
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo Styles */
.logo-container img {
    border-radius: 50%;
    min-width: 60px;
    width: 60px; 
    height: 60px; 
    object-fit: cover;
    box-shadow: 0.5px 1px 1px 0.5px var(--text-color-2);
    background-color: rgba(72 163 247 / 5%);
    margin-top: auto;
    margin-bottom: auto;
}

#logo {
    width: 400px;
    display: flex;	
}

#logo a {
    text-decoration: none;
    font-family: Satoshi-Regular, sans-serif;
    font-size: large;
    color: #fff;
    align-items: center;
    display: flex;
    padding-left: 20px;
}

/* Navigation Link Styles */
#nav-links {
    display: flex;
    justify-content: right;
    align-items: center;
    flex-grow: 1;
}

#nav-links a {
    color: var(--text-color);
    position: relative;
    text-decoration: none;
    font-family: Satoshi-Regular, sans-serif;
    font-size: large;
    padding: 0 20px;
}

#nav-links a:hover,
#nav-links a.active {
    color: var(--link-color);
}

#nav-links a:hover::after, 
#nav-links a.active::after {
    width: 100%;
}
