/* Home section styling */
#home {
  background: linear-gradient(to bottom, black, rgba(0, 0, 30, 0));
  background: radial-gradient(circle at center, transparent 50%, black 100%), linear-gradient(to bottom, black, rgb(0, 30, 50));
  background-size: cover;
  height: 100vh;
  position: relative;
  display: flex;
}

/* Canvas styling with initial animation */
#canvas {
  opacity: 0;
  animation: apparitionCanvas 4s ease-in forwards; 
}

/* Define keyframes for canvas appearance animation */
@keyframes apparitionCanvas {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Overlay text styling */
.overlay-text {
  position: absolute;
  top: 50%;  
  left: 50%; 
  transform: translate(-50%, -50%);
  color: white;
  font-family: Satoshi-Regular;
  min-height: 20vw;
}

/* Top row styling */
.top-row {
  display: flex;
  min-width: 35vw;
  min-height: 30px;
}

/* Class for hidden elements */
.invisible {
  visibility: hidden;
}

/* Heading styles */
h1, h2 {
  font-size: 2.5vw;
  margin-top: 0.12em;
  margin-bottom: 0.12em;
  color: white;
}

h3 {
  font-size: large;
  font-family: Satoshi-Light;
  margin-top: 0.12em;
  margin-bottom: 0.2em;
  color: var(--text-color-3);
}

h4 {
  font-size: medium;
  margin-top: 0em;
  font-family: Satoshi-Light;
  margin-bottom: 1.6em;
}

.bold-italic {
  font-size: large;
  font-family: Satoshi-BoldItalic;
  color: var(--text-color-2);
}

/* Specific styling for 'software-engineer' */
#software-engineer {
  padding-left: 15px;
  color: var(--text-color-2);
  padding-bottom: 10px;
}

/* Specific styling for 'my-name-is' */
#my-name-is {
  padding-left: 10px;
}

#working-at {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

#working-at.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Keyframes for blinking animation */
@keyframes blinker {
  50% { opacity: 0; }
}

/* Styling for elements that will blink */
.button-to-blink {
  opacity: 0;
  transition: opacity 2s ease;
}

/* Specific styling for 'info-button' */
#info-button {
  position: absolute;
  top: 95%;  
  left: 80.5%;
  padding: 10px 17px 10px 17px;
}

#overlay-info {
  position: absolute;
  top: 70%;  
  left: 73%;
  width: 20vw;
	border: 1px solid var(--text-color-3);
  color: var(--text-color-3);
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#animation-control-panel {
  position: absolute;
  right: 50px;
  bottom: 50px;
}

#animation-control-panel-overlay {
  position: absolute;
	border: 1px solid var(--text-color-3);
  color: var(--text-color-3);
  border-radius: 10px;
  backdrop-filter: blur(2px);
  background-color: rgba(72, 163, 247, 0.08);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  right: 20px;
  bottom: 20px;
  width: 210px;
  height: 310px;
  transform-origin: bottom right;
  transform: scale(0);
  transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
  visibility: hidden;
}

#animation-control-panel-overlay.open {
  transform: scale(1);
}

.tab {
  font-family: Satoshi-Regular;
  font-size: small;
  padding: 5px 10px;
	border-bottom: 1px solid var(--text-color-3);
	border-right: 1px solid var(--text-color-3);
	border-left: 1px solid var(--text-color-3);
  width: 70px;
  text-align: center;
  border-radius: 0 0 10px 10px;
  background-color: rgba(0, 0, 0, 0.3);
}

.tab:hover {
  cursor: pointer;
	background-color: rgba(72, 163, 247, 0.2);
}

.tab-selected {
  font-family: Satoshi-Regular;
  font-size: small;
  padding: 5px 10px;
  border-bottom: none;
  width: 70px;
  text-align: center;
  color: var(--text-color-2);
  border-right: none;
  border-left: none;
  background-color: rgba(72, 162, 247, 0);
  border-radius: 10 10 0px 0px;
}

.tab-selected:hover {
  background-color: none;
}

#animation-control-panel-overlay.open { 
  transform: scale(1);
}


#setting-div {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Satoshi-Regular;
  font-size: small;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.text-separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.text-separator::before,
.text-separator::after {
  content: '';
  flex: 1;
  border-bottom: 0.5px solid var(--text-color-3);
}

.text-separator span {
  margin: 0 5px;
}

#toggle-switch-box {
  display: flex;
  align-content: center;
}

#fps-box {
  font-size: small;
  font-family: Satoshi-Regular;
}

#rust-wasm-toggle {
  color: var(--text-color-2);
}

#tabs {
  display: flex;
  flex-direction: row;
}

#xmark {
  padding: 5px 10px;
  width: 70px;
  text-align: center;
  font-size: small;
}

#xmark:hover {
  color: var(--text-color-2);
  cursor: pointer;
}