section {
    align-items: center;
    justify-content: center;
    display: flex;
}

p {
    max-width: 1200px;
    margin: 10px;
    padding: 50px;
    text-align: justify;
    box-shadow: 0 0 0 0.2px #f89b49aa;
    background-color: #120b0574;
    border-radius: 15px;
    height: 1000px;
}

#home {
  background-color: black;
  height: 1000px;
  position: relative;
}

.overlay-text {
  position: absolute;
  top: 50%;  /* Centrer verticalement */
  left: 50%; /* Centrer horizontalement */
  transform: translate(-50%, -50%); /* Aligner le centre du texte avec le centre du canvas */
  color: white; /* Couleur du texte */
  /* Ajouter d'autres styles pour le texte ici */
}


#about {
  background-color: rgba(var(--section2-background-dark-r), var(--section2-background-dark-g), var(--section2-background-dark-b), 0.6);
}

#skills {
  background-color: rgba(var(--section1-background-dark-r), var(--section1-background-dark-g), var(--section1-background-dark-b), 0.6);
}

#projects {
  background-color: rgba(var(--section2-background-dark-r), var(--section2-background-dark-g), var(--section2-background-dark-b), 0.6);
}

#contact {
  background-color: rgba(var(--section1-background-dark-r), var(--section1-background-dark-g), var(--section1-background-dark-b), 0.6);
}
