button {
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: all;
	border: 1px solid var(--text-color-3);
	padding: 10px 20px 10px 20px;
	border-radius: 50px;
	font-size: large;
    font-family: 'Satoshi-Regular';
	color: var(--text-color-3);
	text-decoration: none;
    cursor: pointer;
	backdrop-filter: blur(2px);
	background-color: rgba(72, 163, 247, 0.05);
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

button:hover {
	background-color: rgba(72, 163, 247, 0.2);
}

#settings-button {
	padding: 10px 10px 10px 10px;
}